
/*
not required to make any chages here
but if you'd like to do fancy things
(extra credit) feel free!
*/

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#spinner {
	position: fixed;
	z-index: 1000;
	top: 50%;
	left: 50%;
}

#map_canvas {
	height: 100%;
}

#search_bar {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 100;
}

#search_dropdown {
	padding: 0px;
	max-height: 300px;
	overflow: auto;
}

.drop_item {
	border-bottom: 1px solid #FFF;
	cursor: pointer;
	padding: 4px;
}

.drop_item:last-child {
	border-bottom: none;
}

.drop_item:hover {
	font-weight: bold;
}

#login_bar {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 100;
}

#twitter {
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 100;
	width: 35% !important;
}
.twitter-widget-0 {
	height: 200px !important;
	
}

#stats {
	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: 100;
}

.content{
	position: absolute;
	top: 0px;
	left: 0px;
}

.stat {
	margin-right: 40px;
}

.stat img {
	vertical-align: top;
	margin-top: 30px;
	height: 60px;
}

.jumbo {
	font-size: 80px;
}

.unit {
	font-size: 30px;
}
